#class_head{
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}
.class_content{
    width: 85%;
    height: 95%;
    margin-left: 5%;
    box-shadow: 2px 2px 0 0 #E7E7E7;
    border-color: rgb(160, 158, 158);
    border-radius: 4px;
    border-left: 7px solid #33A6FF;
    border-top: 1px solid #E7E7E7;
    /* line-height: 25px; */
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 10px;
}
.con_p{
    margin-left: 20px;
}